// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
  direction: rtl;
}

.info {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
  direction: rtl;
}