<% unless @reviews.empty?%>
	<h4>قسم المراجعات</h4>
	<% @reviews.each do |review|%>
		<table class="table table-bordered info">
		    <tbody>
			     <tr>
	                <td><h5><%= User.find(review.user_id).name%> على كتاب <%= review.book.name %></h5></td>
			    </tr>

			    <tr>
				    <td><h5>"<%= review.content%>"</h5></td>
			    </tr>

			    <tr>
				    <td><h5>تقييمه <%= review.rating %></h5></td>
			    </tr>
			    <br />
			</tbody>
		</table>
	<% end %>
<% end %>
				
			